Repository myriad-personal/env-jx3-openshift3, pull requests merged in 2020-11, with the labels that each got.

#1 chore: import repository git@github.com:myriad-personal/jx3-springdemo1.git
  .jx/gitops/source-config.yaml
Labels: env/dev

#2 chore: import repository git@github.com:myriad-personal/jx3-springdemo1.git
  .jx/gitops/source-config.yaml
  config-root/namespaces/jx/lighthouse-config/config-cm.yaml
  config-root/namespaces/jx/lighthouse-config/plugins-cm.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-foghorn-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-keeper-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-tekton-controller-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-webhooks-deploy.yaml
  config-root/namespaces/jx/source-repositories/myriad-personal-jx3-springdemo1.yaml
Labels: env/dev, size/M, updatebot

#3 chore: import repository https://github.com/myriad-personal/jx3-springdemo2.git
  .jx/gitops/source-config.yaml
  config-root/namespaces/jx/lighthouse-config/config-cm.yaml
  config-root/namespaces/jx/lighthouse-config/plugins-cm.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-foghorn-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-keeper-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-tekton-controller-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-webhooks-deploy.yaml
  config-root/namespaces/jx/source-repositories/myriad-personal-jx3-springdemo2.yaml
Labels: env/dev, size/M, updatebot

#4 chore: import repository https://github.com/myriad-personal/jx3-demoapp1.git
  .jx/gitops/source-config.yaml
  config-root/namespaces/jx/lighthouse-config/config-cm.yaml
  config-root/namespaces/jx/lighthouse-config/plugins-cm.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-foghorn-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-keeper-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-tekton-controller-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-webhooks-deploy.yaml
  config-root/namespaces/jx/source-repositories/myriad-personal-jx3-demoapp1.yaml
Labels: env/dev, size/M, updatebot

#5 chore: import repository https://github.com/myriad-personal/jx3-demoapp2.git
  .jx/gitops/source-config.yaml
  config-root/namespaces/jx/lighthouse-config/config-cm.yaml
  config-root/namespaces/jx/lighthouse-config/plugins-cm.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-foghorn-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-keeper-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-tekton-controller-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-webhooks-deploy.yaml
  config-root/namespaces/jx/source-repositories/myriad-personal-jx3-demoapp2.yaml
Labels: env/dev, size/M, updatebot

#6 chore: import repository https://github.com/myriad-personal/jx3-demoapp4.git
  .jx/gitops/source-config.yaml
  config-root/namespaces/jx/lighthouse-config/config-cm.yaml
  config-root/namespaces/jx/lighthouse-config/plugins-cm.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-foghorn-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-keeper-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-tekton-controller-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-webhooks-deploy.yaml
  config-root/namespaces/jx/source-repositories/myriad-personal-jx3-demoapp4.yaml
Labels: env/dev, size/M, updatebot

#7 chore: import repository https://github.com/myriad-personal/jx3-demoapp5.git
  .jx/gitops/source-config.yaml
  config-root/namespaces/jx/lighthouse-config/config-cm.yaml
  config-root/namespaces/jx/lighthouse-config/plugins-cm.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-foghorn-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-keeper-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-tekton-controller-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-webhooks-deploy.yaml
  config-root/namespaces/jx/source-repositories/myriad-personal-jx3-demoapp5.yaml
Labels: env/dev, size/M, updatebot

#8 chore: promote jx3-demoapp5 to version 0.0.13 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.13-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-ingress.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-sa.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/L, updatebot

#9 chore: promote jx3-demoapp5 to version 0.0.14 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.13-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.14-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/L, updatebot

#10 chore: promote jx3-demoapp5 to version 0.0.15 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.15-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/M, updatebot

#11 chore: promote jx3-demoapp5 to version 0.0.16 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.16-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#12 chore: promote jx3-demoapp5 to version 0.0.17 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.17-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#13 chore: promote jx3-demoapp5 to version 0.0.18 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.18-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#14 chore: promote jx3-demoapp5 to version 0.0.21 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.21-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#15 chore: promote jx3-demoapp5 to version 0.0.22 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.22-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#16 chore: promote jx3-demoapp5 to version 0.0.23 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.23-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#17 chore: promote jx3-demoapp5 to version 0.0.24 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.24-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#18 chore: promote jx3-demoapp5 to version 0.0.26 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.26-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#19 chore: promote jx3-demoapp5 to version 0.0.27 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.27-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#20 chore: promote jx3-demoapp5 to version 0.0.28 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.28-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#21 chore: import repository https://github.com/myriad-personal/jx3-demoapp6.git
  .jx/gitops/source-config.yaml
  config-root/namespaces/jx/lighthouse-config/config-cm.yaml
  config-root/namespaces/jx/lighthouse-config/plugins-cm.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-foghorn-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-keeper-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-tekton-controller-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-webhooks-deploy.yaml
  config-root/namespaces/jx/source-repositories/myriad-personal-jx3-demoapp6.yaml
Labels: env/dev, size/M, updatebot
