Repository myriad-personal/env-jx3-openshift3, pull requests merged in 2020-12, with the labels that each got.

#22 chore: promote jx3-demoapp5 to version 0.0.29 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.29-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#23 chore: promote jx3-demoapp5 to version 0.0.30 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.30-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#24 chore: promote jx3-demoapp5 to version 0.0.31 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.31-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#25 chore: promote jx3-demoapp6 to version 0.0.2 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp6/jx3-demoapp6-0.0.2-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp6/jx3-demoapp6-ingress.yaml
  config-root/namespaces/jx-staging/jx3-demoapp6/jx3-demoapp6-jx3-demoapp6-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp6/jx3-demoapp6-jx3-demoapp6-sa.yaml
  config-root/namespaces/jx-staging/jx3-demoapp6/jx3-demoapp6-svc.yaml
  helmfile.yaml
Labels: env/staging, size/L, updatebot

#26 chore: promote jx3-demoapp6 to version 0.0.3 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp6/jx3-demoapp6-0.0.3-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp6/jx3-demoapp6-jx3-demoapp6-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp6/jx3-demoapp6-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#27 chore: promote jx3-demoapp6 to version 0.0.4 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp6/jx3-demoapp6-0.0.4-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp6/jx3-demoapp6-jx3-demoapp6-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp6/jx3-demoapp6-svc.yaml
  helmfile.yaml
Labels: env/staging, size/M, updatebot

#29 chore: promote jx3-demoapp5 to version 0.0.31 in Production environment
  config-root/namespaces/jx-production/jx3-demoapp5/jx3-demoapp5-0.0.31-release.yaml
  config-root/namespaces/jx-production/jx3-demoapp5/jx3-demoapp5-ingress.yaml
  config-root/namespaces/jx-production/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-production/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-sa.yaml
  config-root/namespaces/jx-production/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/production, size/L, updatebot

#30 chore: promote jx3-demoapp5 to version 0.0.31 in Production environment
  helmfile.yaml
Labels: env/production, size/S, updatebot

#31 chore: promote jx3-demoapp6 to version 0.0.4 in Production environment
  config-root/namespaces/jx-production/jx3-demoapp6/jx3-demoapp6-0.0.4-release.yaml
  config-root/namespaces/jx-production/jx3-demoapp6/jx3-demoapp6-ingress.yaml
  config-root/namespaces/jx-production/jx3-demoapp6/jx3-demoapp6-jx3-demoapp6-deploy.yaml
  config-root/namespaces/jx-production/jx3-demoapp6/jx3-demoapp6-jx3-demoapp6-sa.yaml
  config-root/namespaces/jx-production/jx3-demoapp6/jx3-demoapp6-svc.yaml
  helmfile.yaml
Labels: env/production, size/L, updatebot

#32 chore: promote jx3-demoapp1 to version 0.0.4 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp1/jx3-demoapp1-0.0.4-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp1/jx3-demoapp1-ingress.yaml
  config-root/namespaces/jx-staging/jx3-demoapp1/jx3-demoapp1-jx3-demoapp1-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp1/jx3-demoapp1-svc.yaml
  helmfile.yaml
Labels: env/staging, size/L, updatebot

#34 chore: promote jx3-demoapp1 to version 0.0.5 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp1/jx3-demoapp1-0.0.5-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp1/jx3-demoapp1-jx3-demoapp1-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp1/jx3-demoapp1-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#35 chore: promote jx3-demoapp4 to version 1.0.6 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp4/jx3-demoapp4-1.0.6-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp4/jx3-demoapp4-ingress.yaml
  config-root/namespaces/jx-staging/jx3-demoapp4/jx3-demoapp4-jx3-demoapp4-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp4/jx3-demoapp4-jx3-demoapp4-sa.yaml
  config-root/namespaces/jx-staging/jx3-demoapp4/jx3-demoapp4-svc.yaml
  helmfile.yaml
Labels: env/staging, size/L, updatebot

#36 chore: promote jx3-demoapp5 to version 0.0.32 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-0.0.32-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#37 chore: promote jx3-springdemo2 to version 1.0.10 in Staging environment
  config-root/namespaces/jx-staging/jx3-springdemo2/jx3-springdemo2-1.0.10-release.yaml
  config-root/namespaces/jx-staging/jx3-springdemo2/jx3-springdemo2-ingress.yaml
  config-root/namespaces/jx-staging/jx3-springdemo2/jx3-springdemo2-jx3-springdemo2-deploy.yaml
  config-root/namespaces/jx-staging/jx3-springdemo2/jx3-springdemo2-svc.yaml
  helmfile.yaml
Labels: env/staging, size/L, updatebot

#38 chore: promote jx3-springdemo2 to version 1.0.11 in Staging environment
  config-root/namespaces/jx-staging/jx3-springdemo2/jx3-springdemo2-1.0.11-release.yaml
  config-root/namespaces/jx-staging/jx3-springdemo2/jx3-springdemo2-jx3-springdemo2-deploy.yaml
  config-root/namespaces/jx-staging/jx3-springdemo2/jx3-springdemo2-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#39 chore: promote jx3-springdemo2 to version 1.0.12 in Staging environment
  config-root/namespaces/jx-staging/jx3-springdemo2/jx3-springdemo2-1.0.12-release.yaml
  config-root/namespaces/jx-staging/jx3-springdemo2/jx3-springdemo2-jx3-springdemo2-deploy.yaml
  config-root/namespaces/jx-staging/jx3-springdemo2/jx3-springdemo2-svc.yaml
  helmfile.yaml
Labels: env/staging, size/S, updatebot

#40 chore: import repository https://github.com/myriad-personal/jx3-demoapp-py1.git
  .jx/gitops/source-config.yaml
  config-root/namespaces/jx/lighthouse-config/config-cm.yaml
  config-root/namespaces/jx/lighthouse-config/plugins-cm.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-foghorn-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-keeper-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-tekton-controller-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-webhooks-deploy.yaml
  config-root/namespaces/jx/source-repositories/myriad-personal-jx3-demoapp-py1.yaml
Labels: env/dev, size/M, updatebot

#41 chore: promote jx3-demoapp2 to version 0.0.1 in Staging environment
  config-root/namespaces/jx-staging/jx3-demoapp2/jx3-demoapp2-0.0.1-release.yaml
  config-root/namespaces/jx-staging/jx3-demoapp2/jx3-demoapp2-ingress.yaml
  config-root/namespaces/jx-staging/jx3-demoapp2/jx3-demoapp2-jx3-demoapp2-deploy.yaml
  config-root/namespaces/jx-staging/jx3-demoapp2/jx3-demoapp2-svc.yaml
  helmfile.yaml
Labels: env/staging, size/L, updatebot

#42 chore: import repository https://github.com/myriad-personal/jx3-demoapp3.git
  .jx/gitops/source-config.yaml
  config-root/namespaces/jx/lighthouse-config/config-cm.yaml
  config-root/namespaces/jx/lighthouse-config/plugins-cm.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-foghorn-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-keeper-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-tekton-controller-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-webhooks-deploy.yaml
  config-root/namespaces/jx/source-repositories/myriad-personal-jx3-demoapp3.yaml
Labels: env/dev, size/M, updatebot

#43 chore: import repository https://github.com/troyhart/blox-framework.git
  .jx/gitops/source-config.yaml
  config-root/namespaces/jx/lighthouse-config/config-cm.yaml
  config-root/namespaces/jx/lighthouse-config/plugins-cm.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-foghorn-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-keeper-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-tekton-controller-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-webhooks-deploy.yaml
  config-root/namespaces/jx/source-repositories/troyhart-blox-framework.yaml
Labels: env/dev, size/M, updatebot

#44 chore: promote jx3-demoapp1 to version 0.0.5 in Production environment
  config-root/namespaces/jx-production/jx3-demoapp1/jx3-demoapp1-0.0.5-release.yaml
  config-root/namespaces/jx-production/jx3-demoapp1/jx3-demoapp1-ingress.yaml
  config-root/namespaces/jx-production/jx3-demoapp1/jx3-demoapp1-jx3-demoapp1-deploy.yaml
  config-root/namespaces/jx-production/jx3-demoapp1/jx3-demoapp1-svc.yaml
  helmfile.yaml
Labels: env/production, size/L, updatebot

#45 chore: promote jx3-demoapp5 to version 0.0.32 in Production environment
  config-root/namespaces/jx-production/jx3-demoapp5/jx3-demoapp5-0.0.32-release.yaml
  config-root/namespaces/jx-production/jx3-demoapp5/jx3-demoapp5-jx3-demoapp5-deploy.yaml
  config-root/namespaces/jx-production/jx3-demoapp5/jx3-demoapp5-svc.yaml
  helmfile.yaml
Labels: env/production, size/S, updatebot

#46 chore: import repository https://github.com/myriad-personal/bloxlet-auth.git
  .jx/gitops/source-config.yaml
  config-root/namespaces/jx/lighthouse-config/config-cm.yaml
  config-root/namespaces/jx/lighthouse-config/plugins-cm.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-foghorn-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-keeper-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-tekton-controller-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-webhooks-deploy.yaml
  config-root/namespaces/jx/source-repositories/myriad-personal-bloxlet-auth.yaml
  helmfile.yaml
Labels: env/dev, size/M, updatebot

#49 chore: promote jx3-demoapp5 to version 0.0.33 in Staging environment
  helmfile.yaml
Labels: env/staging, size/S
